@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
    
  body{
      max-width: 1200px;
      margin: 20px auto;
      padding: 0 20px;
      font-family: 'Noto Serif', serif;
      max-width: 1200px;
      
    }
    p, h1, h2, h3, a, ul{
      margin: 0;
      padding: 0;
      text-decoration: none;
        color: #787171
  
    }

    /* nav & footer styles */
    nav{
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      padding-bottom: 10px;
      border-bottom: 2px dashed gray ;      
    }
    nav ul{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    nav li{
      list-style-type: none;
      margin-left: 20px;
    }

    

    nav h1{
      font-size: 3em;
      color: #787171;
    }
    nav p, nav a{
      color: #787171;
      font-weight: bold;
      text-decoration: none;
      transition: all .2s linear;
    }

    nav a:hover {
      color: black;
    }

    .signup-nav {
      background-color: #c9aeae;
      width: 60px;
      text-align: center;
      height: 25px;
      color: skyblue;
      border-radius: 5px;

    }

    .signup-nav a {
      font-weight: bold;
      color: skyblue;
    }
    .login-nav {
      background-color: #fcf6f6;
      width: 60px;
      text-align: center;
      height: 25px;
      color: skyblue;
      border-radius: 5px;

    }

    .login-nav a {
      font-weight: bold;
      color: skyblue;
    }

    .user {
      color: pink;
      font-weight: bold;
    }
    footer{
      color: white;
      text-align: center;
      margin-top: 100px;
      
    }
    h2{
      margin-bottom: 40px;
    }
    h3{
      
      margin-bottom: 8px;
    }
    .content{
      margin-left: 20px;
      
    }

    /* index styles */
    .blogs a{
      display: block;
      margin: 40px 0;
      padding-left: 30px;
      width: 500px;
      height: 100px;
      text-decoration: none;
      background-color: #fcf6f6;
      border-radius: 10px;
    }
    .blogs h2 {
      color: #787171
    }

    .blogs h3 {
      color: pink
    }
    .blogs a:hover h3, .blogs a:hover p{
      color: pink;
    }

    /* details styles */
    .details{
      position: relative;
    }
    .delete{
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      padding: 8px;
    }
    .delete:hover{
      cursor: pointer;
      box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    }

    /* create styles */
    .create-blog form{
      max-width: 400px;
      margin: 0 auto;
    }
    .create-blog input,
    .create-blog textarea{
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 8px;
    }
    .create-blog label{
      display: block;
      margin-top: 24px;
    }
    textarea{
      height: 120px;
    }
    .create-blog button{
      margin-top: 20px;
      background: crimson;
      color: white;
      padding: 6px;
      border: 0;
      font-size: 1.2em;
      cursor: pointer;
    }

    .error {
      color: rgb(209, 22, 22);
    }

    .signup {
      background-color: royalblue;
      border-radius: 10px;
      color: white;
    }
    .create {
      background-color: rgb(209, 22, 22);
      border-radius: 10px;
      color: white;
    }

    .blog-cont {
      width: 200px;
      height: 200px;
      background-color: skyblue;
      margin-top: 20px;
      text-align: center;
      
      border-radius: 3px;
    }

    /* auth  */
    .signup-content {
      margin: 0 auto;
      background-color: #fcf6f6;
      text-align: center;
      width: 50%;
      padding: 10px;
    }

    .signup-content input , textarea {
      
      display: block;
      width: 90%;
      margin: 10px auto;
      padding: 8px;
    }

    .signup-content label{
      display: block;
      margin-top: 24px;
      color: #787171;
      font-weight: bold;
    }
    textarea{
      height: 120px;
    }
    .signup-content button{
      margin-top: 20px;
      background: crimson;
      color: white;
      padding: 6px;
      border: 0;
      font-size: 1.2em;
      cursor: pointer;
      border-radius: 5px;
    }

    .error {
      color: rgb(209, 22, 22);
    }

    
